<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
        <nav>
            <li><a href="/home">Accueil</a></li>
            <li><a href="/burger/burgers">Burgers</a></li>
        </nav>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>

